body {
  margin: 0;
  font-family: 'Arial', serif; /* 默认字体 */
  background-color: #1C0C2B; /* 深紫色背景 */
  color: #FFFFFF; /* 白色文字 */
}

/* 应用的基本布局 */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 使用视口高度，让应用充满整个屏幕 */
}

.top-half {
  flex: 1; /* 比例为1 */
  padding: 20px;
  overflow: auto; /* 如果内容过多，允许滚动 */
  background-color: #2A125A; /* 中紫色背景 */
  font-family: 'Georgia', serif; /* 烫金纸风格的字体 */
}

.bottom-half {
  flex: 2; /* 比例为2 */
  padding: 20px;
  overflow: auto; /* 如果内容过多，允许滚动 */
  background-color: #1B2B5A; /* 深蓝色背景 */
  font-family: 'Dancing Script', 'Zhi Mang Xing', cursive, serif; /* 基础字体设置 */
  position: relative; /* 添加这一行 */
}

.Back-button {
  margin-top: 20px;
  text-align: center;
}

.Back-button button {
  padding: 10px 20px;
  background-color: #FFFFFF; /* 白色背景 */
  border: none;
  color: #1C0C2B; /* 深紫色文字 */
  cursor: pointer;
  font-weight: bold;
}

.Back-button button:hover {
  background-color: #A369F0; /* 鼠标悬停时浅紫色背景 */
}

/* 日历和事件列表项样式 */
ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #2A437F; /* 中蓝色背景 */
  border-left: 5px solid #A369F0; /* 浅紫色高亮条 */
}

li:hover {
  background-color: #3E65A7; /* 鼠标悬停时浅蓝色背景 */
}

/* 输入框和按钮样式 */
input[type="text"], textarea, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #2A125A; /* 中紫色背景 */
  border: 1px solid #A369F0; /* 浅紫色边框 */
  color: #FFFFFF; /* 白色文字 */
}

button {
  background-color: #A369F0; /* 浅紫色背景 */
  cursor: pointer;
  font-weight: bold; /* 加粗文本，增加视觉重量 */
}

button:hover {
  background-color: #5A82C5; /* 鼠标悬停时浅蓝色背景 */
}

/* 修饰滚动条 */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1C0C2B; /* 滚动条背景 */
}

::-webkit-scrollbar-thumb {
  background: #A369F0; /* 浅紫色滚动条 */
}

::-webkit-scrollbar-thumb:hover {
  background: #5A82C5; /* 鼠标悬停时浅蓝色滚动条 */
}
